* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
}

input, button {
  cursor: pointer;
  border: none;
  outline: none;
}

button:focus {
  outline: none;
}
